@font-face {
    font-family: Kollektif-Bold;
    src: url(../font/Kollektif-Bold.ttf);
}

@font-face {
    font-family: Kollektif-BoldItalic;
    src: url(../font/Kollektif-BoldItalic.ttf);
}
@font-face {
    font-family: Kollektif-Italic;
    src: url(../font/Kollektif-Italic.ttf);
}
@font-face {
    font-family: Kollektif;
    src: url(../font/Kollektif.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: Kollektif;
}

/* Headers text */

.container {
    margin-top: 12%;
    width: 100%;
    text-align: center;
}
.regiPage h1{
    position: relative;
    font-size: 75px;
    font-family: Kollektif-Bold;
    font-weight: normal;
}

.regiPage h2 {
    position: relative;
    font-size: 50px;
    font-weight: normal;
}

/* Input boxes and Button styles */

input::placeholder {
    opacity: 100%;
    color: #6F6F71;
}

.formContainer {
    position: relative;
    margin-top: 1em;
}

.inputBoxes {
    border-color: #6A66A3;
    border-radius: 15px 15px 15px 15px;
    border-width: 1px;
    color: black;
    width: 18em;
    height: 2.9em;
    margin-top: 0.7%;
    font-size: 1.2em;
    padding-left: 20px;
    outline: none;
}

.submitButton {
    background-color: #6A66A3;
    color: white;
    border: none;
    border-radius:  25px 25px 25px 25px;
    font-size: 1.5em;
    margin-top: 1%;
    width: 8em;
    height: 2em;
}

.alreadyAccount {
    font-size: 1.5em;
    text-decoration: none;
    color: #6A66A3;
}

.textAlreadyAccount {
    font-size: 1.5em;
    color: #6F6F71;
}
