@font-face {
    font-family: Kollektif-Bold;
    src: url(../font/Kollektif-Bold.ttf);
}

@font-face {
    font-family: Kollektif-BoldItalic;
    src: url(../font/Kollektif-BoldItalic.ttf);
}
@font-face {
    font-family: Kollektif-Italic;
    src: url(../font/Kollektif-Italic.ttf);
}
@font-face {
    font-family: Kollektif;
    src: url(../font/Kollektif.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: Kollektif;
}

.container {
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

.regiPage h1{
    position: relative;
    font-size: 5em;
}

.regiPage h2 {
    position: relative;
    font-size: 2em;
}

.formContainer {
    position: relative;
    margin-top: 2em;
}

.inputBoxes {
    border-color: #6A66A3;
    border-radius: 15px 15px 15px 15px;
    width: 20em;
    height: 3.5em;
    margin-top: 1%;
}

.submitButton {
    background-color: #6A66A3;
    color: white;
    border: none;
    border-radius:  25px 25px 25px 25px;
    font-size: 0.5em;
    margin-top: 1%;
    width: 7em;
    height: 2.5em;
}
