.container {
    position: relative;
    justify-content: center; 
    align-items: center;
    overflow:hidden;
    overflow-y: scroll;
    height: 15em;
    margin-top: 33%;
    border-top: 2px solid #6F6F71;
    width: 80%;
    left: 11%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.tableContainer {
    position: relative;
    width: 80%;
    left: 11%;
    margin-top: 0%;
    text-align: center;
    overflow: hidden;
}

.tableContainer tr {
    margin-bottom: 10px;
    font-size: 1em;
}

.tableContainer th {
    position: relative;
    color: #6F6F71;
    font-size: 1.2em;
    padding: 8px;
    font-family: Kollektif;
}

.tableContainer td {
    color: #6F6F71; 
    padding-right: 0.5%;
    padding-top: 1%; 
}

#userName {
    color: black;
}

.accountName {
    position: absolute;
    font-size: 3.5em;
    left: 15%;
}

.moneyInfo {
    position: absolute;
    font-size: 3em;
    left: 15%;
    margin-top: 2.5%;
    color: #008000;
    opacity: 66%;
}

.currentMoneyInfo {
    position: absolute;
    left: 15%;
    margin-top: 5.5%;
    font-size: 1.8em;
}

.infoContainer {
    position: relative;
    width: 100%;
    margin-top: 9%;
}

.formContainer {
    position: absolute;
    top: 20%;
    left: 70%;
}

.noFoundMessage {
    position: absolute;
    font-size: 3em;
    left: 40%;
    top: 50%;
    opacity: 60%;
}
