@font-face {
    font-family: Kollektif-Bold;
    src: url(../font/Kollektif-Bold.ttf);
}

@font-face {
    font-family: Kollektif-BoldItalic;
    src: url(../font/Kollektif-BoldItalic.ttf);
}

@font-face {
    font-family: Kollektif-Italic;
    src: url(../font/Kollektif-Italic.ttf);
}

@font-face {
    font-family: Kollektif;
    src: url(../font/Kollektif.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kollektif-Bold;
    scroll-behavior: smooth;

}

.wrapper {
    width: 100%;
    height: 100vh;
}

.logoutButton {
    position: absolute;
}


.col1, .col2{
    width: 50%;
    height: 100%;
}


.container1 {
    background-color: red;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.box1 {
    position: relative; 
    top: 12%;
    width: 80%;
    background-color: white;
    height: 80%;
    padding: 1%;
    display: flex;
}

.box1 h1 {
    font-size: 3.5em;
}

.moneyInfo {
    color: green;
    font-size: 1.3em;
}

.transactionBox {
    width: 80%;
    height: 95%;
    padding: 2%;
    background-color: rgba(217, 217, 217, 0.4);    
    box-shadow: -12px 16px 20px 0.5px rgba(0, 0, 0, 0.4);
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
}

.transactionBox h1  {
    font-size: 2em;
}

.labelBox {
    width: 100%;
    height: 60%;
    justify-content: space-between;
}

.labelBox a {
    font-size: 1.2em;
}

.formContainer {
    position: relative;
    top: 30%;
    width: auto;
    left: -20%;
    height: 90%;
}


.firstInput {
    position: relative;
    width: 100%;
    height: 35%;
    border-radius: 9px 9px 9px 9px;
    border: black solid 0px;
    background-color: #D9D9D9;
    margin: 1%;
    outline: none;
    padding-left: 20px;
}

.firstInput::selection {
    border: #6A66A3 solid 2px;
}


.blapinInput {
    width: 35%;
    height: 35%;
    padding-top: 1%;
    border-radius: 9px 9px 9px 9px;
    border: none;
    background-color: #D9D9D9;
    margin: 1%;
    outline: none;
    padding-left: 20px;
}

.formContainer button {
    position: relative;
    background-color: #6A66A3;
    border: #6A66A3 solid 2px;
    color: white;
    border: none;
    border-radius: 9px 9px 9px 9px;
    width: 21%;
    height: 35%;
    top: -1%;
    left: 2%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.formContainer button:hover {
    border: #6A66A3 solid 2px;
    background-color: white;
    color: #6A66A3;
}





.container2 {
    background-color: green;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.box2 {
    position: relative;
    top: 15%;
    background-color: white;
    color: black;
    width: 90%;
    height: 80%;
    padding: 1%;
}

.border {
    position: relative;
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.border::-webkit-scrollbar {
    display: none;
}
.border table {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 9px 9px 9px 9px;
}


.headbord {
    position: fixed;
    width: 87.4%;
    height: 4%;
    color: transparent;
}

.border thead {
    position: sticky;
    width: 87.5%;
    height: 5%;
    z-index: 100;
    background-color: white;
    border-top: black solid 1px;
}

.border th {
    font-size: 1.2em;
    text-align: center;
}

.border td {
    color: #6F6F71; 
    text-align: center;
    padding-top: 1em;
}

.border tbody {
    height: 2em;
}

.head {
    position: fixed;
    width: 87.5%;
    height: 3%;
    background-color: white;
}








































/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
