@font-face {
    font-family: Kollektif-Bold;
    src: url(../font/Kollektif-Bold.ttf);
}

@font-face {
    font-family: Kollektif-BoldItalic;
    src: url(../font/Kollektif-BoldItalic.ttf);
}

@font-face {
    font-family: Kollektif-Italic;
    src: url(../font/Kollektif-Italic.ttf);
}

@font-face {
    font-family: Kollektif;
    src: url(../font/Kollektif.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: Kollektif;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%;
}

.tableContainer {
    position: relative;
    width: 80%;
    left: 0%;
    margin-top: 30%;
    text-align: center;
    border-top: 2px solid #6F6F71;
    overflow: hidden;
}

.tableContainer tr:nth-child(n+8) {
    display: none;
}

.tableContainer tr {
    margin-bottom: 10px;
    font-size: 1em;
}

.tableContainer th {
    color: #6F6F71;
    font-size: 1.2em;
    padding: 8px;
    font-family: Kollektif;
}

.tableContainer td {
    color: #6F6F71; 
    padding-right: 0.5%;
    padding-top: 1%; 
}

.headColorer {
    background: #6F6F71;
}

#userName {
    color: black;
}

.accountName {
    position: absolute;
    left: 18%;
    font-size: 2em;
}

.accountNameContainer {
    position: relative;
    width: 100%;
    margin-top: 20%;
}
